<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*In ViewBag we can use dynamic property without type casting*@
    <h3>@ViewBag.PageTitle</h3>
    <div>
        Name: @ViewBag.employee.Name;
    </div>
    <div>
        Name: @ViewBag.employee.Email;
    </div>
    <div>
        Name: @ViewBag.employee.Department;
    </div>
</body>
</html>